<h1>Tournées</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Tournée</th>
      <th>Horaires</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.round_name %></td>
        <td>
          <ul>
            <% round.schedules.each do |schedule| %>
              <li><%= schedule.schedule.strftime("%H:%M") %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Voir', round, class: 'btn btn-success' %></td>
        <% if can? :edit, Round %>
          <td>
            <%= link_to 'Modifier', edit_round_path(round), class: 'btn btn-primary' %>
          </td>
        <% end %>
        <% if can? :destroy, Round %>
          <td>
            <%= link_to 'Supprimer', round, class: 'btn btn-danger', method: :delete, data: { confirm: 'Êtes-vous sur?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Round  %>
  <%= link_to 'Créer une tournée', new_round_path, class: 'btn btn-primary btn-lg' %>
<% end %>
