<h3>
  <strong>Tournée:</strong> <%= @round.round_name %>
</h3>

<hr>

<div class="center d-flex justify-content-start">
  <div class="flex-grow-1">
    <button class="btn btn-lg btn-primary" id="start">
      START
    </button>
    <button class="btn btn-lg btn-danger" id="stop">
      STOP
    </button>
    <div class="Timer"></div>
  </div>
  <div class="control">
    <button class="btn btn-lg btn-info" id="next">
      SUIVANT
    </button>
  </div>
</div>
<hr>

<br>
<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <% @round.stations.each do |station| %>
      <li class="list-group-item selector mb-4" id="<%= station.id %>">
        <div class="d-flex justify-content-center align-items-baseline">
          <h1 class="mr-4"><%= station.station_number %>:</h1>
          <h3><%= station.station_name %></h3>
        </div>
        <% if station.description.empty? != true %>
        <hr />
        <h3><%= station.description %></h3>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<br />
<%= link_to 'Modifier', edit_round_path(@round), class: 'btn btn-primary'%>
<%= link_to 'Retour', rounds_path, class: 'btn btn-secondary' %>

<script>
  // TODO: Find issue with stop function which seems to keep in state the previous state of the accumulator
  
  $(document).ready(function () {

    var stations = document.getElementsByClassName("list-group-item")
    const stations_array = [...stations];
    let passed_stations_array = [];
    var acc = 0;

    $("#next").addClass("disabled");
    $("#next:disabled");

    $("#pause").addClass("disabled");
    $("#stop").addClass("disabled");

    $("#start").click(function () {
      reset();
      passed_stations_array.push({
          id: stations_array[acc].id, 
          timestamp: new Date().toISOString()
          });
      $("#start").addClass("disabled");
      $("#next").removeClass("disabled");
      $("#pause").removeClass("disabled");
      $("#stop").removeClass("disabled");
      if (acc < stations_array.length) {
        $(stations[acc]).addClass("active");
    
        $("#next").click(function () {
          incStation();
          passed_stations_array.push({
            id: stations_array[acc].id, 
            timestamp: new Date().toISOString()
          });
          if (acc == stations_array.length - 1) {
            $("#next").html("FIN DE TOURNEE")
            Object.freeze(passed_stations_array);
            Object.freeze(acc);
            
            if ($("#next").text() == "FIN DE TOURNEE") {
              $("#next").addClass("disabled");
            }
          }
          $(stations[acc]).addClass("active");

          if ($("#next").text() == "FIN DE TOURNEE") {
            $(".control").append("<button class=\"btn btn-lg btn-info\" id=\"end\">TERMINER</button>")
          } 

          $("#end").click(function () {
            $.ajax({
              url: "/rounds_trackings",
              type: "post",
              data: {
                round_payload: JSON.stringify(passed_stations_array),
                current_user: "<%= current_user.tgi %>",
                round_executed: "<%= @round.id %>",
              }
            })
          })
        })
      }

    })

    $("#stop").click(function () {
      reset();
      location.reload();
      return false;
    })

    var incStation = function () {
      acc += 1;
    }

    var reset = function () {
      acc = 0;
    }
  })
</script>