<div class="card-body">

<%= form_with(model: schedule, local: true, class: 'form-group') do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> a empêchée cet horaire d'être sauvegardé:</h2>

      <ul>
        <% schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Horaire</h4>
    <div class="input-group">
      <%= form.time_select :schedule, { minute_step: 5 }, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Créer', class: 'btn btn-primary btn-lg'%>
  </div>
<% end %>





</div>
