<h1>Horaires</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Horaire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td> <h2> <%= schedule.schedule.strftime("%H:%M") %> </h2> </td>
        <td><%= link_to 'Voir', schedule, class: 'btn btn-success' %></td>
        <td><%= link_to 'Modifier', edit_schedule_path(schedule), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Supprimer', schedule, class: 'btn btn-danger', method: :delete, data: { confirm: 'Êtes-vous sur?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel Horaire', new_schedule_path, class: "btn btn-primary btn-lg" %>
