<div class="container text-center">
<h2>Connexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :tgi, "TGI" %><br />
    <%= f.text_field :tgi %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "Mot de passe"%><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Connexion", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

  
</div
