<!DOCTYPE html>
<html>

<head>
  <title>Train</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'jquery'%>
  <%= javascript_include_tag 'popper'%>
  <%= javascript_include_tag 'bootstrap'%>
  <%# <%= javascript_path '../../javascript/packs/jsclock.js'%>

</head>

<body>
  <%= render "layouts/navbar" %>

  <% flash.each do |type, message| %>
  <% if type == "alert" %>
  <div class="alert alert-danger" role="danger">
    <h4 class="alert-heading">Attention !</h4>
    <div class="d-flex text-center">
      <p>
        <%= message %>
      </p>
    </div>
  </div>
  <% end %>
  <% if type == "notice" %>
  <div class="alert alert-success" role="success">
    <h4 class="alert-heading">Info:</h4>
    <div class="d-flex text-center">
      <p>
        <%= message %>
      </p>
    </div>
  </div>
  <% end %>
  <% end %>
  <h1>
    <div class="jumbotron jumbotron-fluid text-center container time">
    </div>
  </h1>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>

<script>
  $(document).ready(function () {
    setInterval(function () {
      var date = new Date();
      options = {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour12: false,
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
      };
      formatted_date = new Intl.DateTimeFormat('fr-FR', options).format(date);
      $('.time').html(
        "<p> Le " + formatted_date
      );
    }, 500);
  });
</script>